PORT=5003
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.aybbqwk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_TOKEN=your_jwt_secret_token
USER_SERVICE=http://localhost:5000
CHAT_SERVICE=http://localhost:5002
FRONTEND_URL=http://localhost:3000
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
REDIS_URL=redis://localhost:6379
